language: python
sudo: true
python: 3.8
cache:
  pip: true
git:
  depth: false

branches:
  - devel
before_install:
  - pip install --upgrade pip setuptools wheel
install:
  - pip install --upgrade memote

script:
  # - memote run --skip-unchanged
  - git checkout "${TRAVIS_BRANCH}"
  - chmod +x ./code/*deploy.sh
  - ./code/travis_deploy.sh
