equilibrator_api==0.1.11
scipy==1.2.0
requests==2.18.4
matplotlib>=3
memote==0.8.4
pandas==0.24.0
libChEBIpy==1.0.7
cobra==0.14.2
numpy==1.15.4
bioservices==1.4.14
sympy==1.1.1
memote==0.8.4
seaborn==0.9.0
pytest==3.2.5
beautifulsoup4==4.7.1
scikit_learn==0.20.3
PyYAML==5.1
