memote==0.9.11
requests==2.18.4
matplotlib==3.0.3
numpy==1.15.4
scipy==1.2.0
bioservices==1.4.14
pandas==0.24.2
libChEBIpy==1.0.7
equilibrator_api==0.1.11
pytest==3.2.5
cobra==0.15.4
beautifulsoup4==4.8.0
PyYAML==5.1.2
